<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-7245930610023842~6236181535</string>
	<key>GADIsAdManagerApp</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>white</string>
		<key>UIImageName</key>
		<string>AppIcon</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
	</dict>
	<key>NSUserTrackingUsageDescription</key>
	<string>이 앱은 광고로 유지돼요. 맞춤형 광고 표시를 위한 데이터 수집이며 광고 표시 외에 아무 목적으로도 사용되지 않아요! 💸</string>
</dict>
</plist>
